{% load static %}

<html>
    <head>
        <title>Chongo.co</title>
        
        <!-- Bootstrap -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        
        <!-- Main -->
        <link rel="stylesheet" href="{% static "map/slack.css" %}">
        <link rel="stylesheet" href="{% static "map/flag-icon.min.css" %}">

        <!-- External (Other) -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark position-absolute fixed-top">
            <span class="navbar-brand" href="#">
                <span class="d-block d-sm-none">
                    <i class="icon">self_improvement</i>
                </span>
                <span class="d-none d-sm-flex">
                    <i class="align-self-center mr-2 icon">self_improvement</i>
                    Chongo.co
                    <small class="align-self-center ml-2 text-secondary">Slackline Location Repository</small>
                </span>
            </span>
            <div class="nav justify-content-end">
                <button id="add-button" type="button" class="nav-item nav-link btn btn-secondary mr-1">
                    <i class="icon icon-18">add_location</i>
                </button>
                <button id="activity-button" type="button" class="nav-item nav-link btn btn-secondary mr-1">
                    <i class="icon icon-18">offline_bolt</i>
                </button>
                <button id="account-button" type="button" class="nav-item nav-link btn btn-secondary">
                    {% if user.is_authenticated %}
                        <i class="icon icon-18">person</i>
                    {% else %}
                        <i class="icon icon-18">login</i>
                    {% endif %}
                </button>
            </div>
        </nav>

        <!-- Edit Dialog -->
        <div class="modal modal-slack" id="edit-modal" data-backdrop="false" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-scrollable m-1">
                <div class="modal-content">
                    <div class="modal-header">
                        Add a Slackline
                        <button id="edit-close-x" type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% if user.is_authenticated %}
                        <div class="modal-body">
                            <!-- Init -->
                            <div class="m-0 alert alert-info text-center" id="edit-set-dialog">
                                Set the anchors by clicking on the map. <br />
                                <small>
                                    Don't worry, you can move them later.
                                </small>
                                <div class="btn-group mt-2">
                                    <button disabled id="edit-init-anchors" class="btn btn-primary">
                                        Done
                                        <span id="anchor-counter" class="badge badge-danger">
                                            <span id="anchor-count">0</span>/2
                                        </span>
                                    </button>
                                    <button class="btn btn-secondary" onclick="editor.resetAnchors()">
                                        Reset
                                    </button>
                                </div>
                            </div>

                            <!-- Move -->
                            <div class="m-0 alert alert-info text-center" id="edit-move-dialog">
                                <small>
                                    You can move individual anchor points by long-pressing on the anchor.
                                    When the anchor circle moves you can drag it to the desired location. <br />
                                </small>
                                <button id="edit-finish-anchors" class="btn btn-primary mt-2">Done</button>
                            </div>

                            <!-- Details -->
                            <form autocomplete="off" method="POST" action="add" id="edit-detail-dialog">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label col-form-label-sm">Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="name" id="edit-name" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label col-form-label-sm">Type</label>
                                    <div class="col-sm-10">
                                        <select name="linetype" id="edit-linetype" class="custom-select">
                                            <option>Slackline</option>
                                            <option>Longline</option>
                                            <option>Highline</option>
                                            <option>Waterline</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label col-form-label-sm">Notes</label>
                                    <div class="col-sm-10">
                                        <textarea name="notes" id="edit-notes" lines="2" class="form-control mb-1" placeholder="Give some details about the anchors, approach or access..."></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label col-form-label-sm">Anchors</label>
                                    <div class="col-sm-10">
                                        <div class="btn-group w-100" role="group">
                                            <button id="edit-move-anchors" type="button" class="form-control btn btn-secondary mb-2">Move</button>
                                            <button id="edit-reset-anchors" type="button" class="form-control btn btn-secondary mb-2">Reset</button>
                                            <input type="text" class="hide" name="coordinates" id="edit-coordinates" />
                                            <input type="number" class="hide" name="length" id="edit-length" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label col-form-label-sm">Location</label>
                                    <div class="col-sm-10">
                                        <div class="input-group mb-1">
                                            <input disabled type="text" class="form-control" id="edit-location" />
                                            <input class="hide" type="text" name="locality" id="edit-locality" />
                                            <input class="hide" type="text" name="country_code" id="edit-country-code" />
                                        </div>
                                        <small>
                                            This information is automatically generated from your anchor placements.
                                        </small>
                                    </div>
                                </div>
                                <input class="hide" type="text" name="delete_by_uid" id="edit-to-delete" />
                            </form>
                        </div>
                        <div id="edit-footer" class="modal-footer">
                            <button type="submit" form="edit-detail-dialog" class="btn btn-primary w-100">Save</button>
                        </div>
                    {% else %}
                        <div class="modal-body">
                            <div class="alert alert-warning w-100" role="alert">
                                You have to be logged in to add a line. 
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Account Dialog -->
        <div class="modal modal-slack" id="account-modal" data-backdrop="false" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-scrollable m-1">
                <div class="modal-content">
                    {% if user.is_authenticated %}
                        <div class="modal-header">
                            <span id="username">
                                {{user.username}}
                            </span>
                            <a href="/logout" class="badge badge-secondary ml-2">Logout</a>
                            <button id="edit-close-x" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <ul class="list-group">
                                {% for slackline in slacklines %}
                                    {% if slackline.owner == user.username %}
                                        <li onclick="new InfoDialog(slacklines['{{slackline.uid}}']).show();" class="list-group-item list-group-item-action">
                                            <span class="badge {{slackline.linetype}}">
                                                {{slackline.length}}m
                                            </span>
                                            {{slackline.linetype}}
                                            <span class="text-secondary">in {{slackline.locality}}, {{slackline.country_code}}</span>
                                            <br />
                                            <small>
                                                {% if slackline.name %}
                                                    "{{slackline.name}}"
                                                {% endif %}
                                                created on {{slackline.created_on}}
                                            </small>
                                            <span class="float-right flag-icon flag-icon-{{slackline.country_code}}"></span>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% else %}
                        <span class="hide" id="username"></span>
                        <div class="modal-header">
                            <ul class="nav nav-pills nav-justified w-100" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">Login</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Register</a>
                                </li>
                                <button id="edit-close-x" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </ul>
                        </div>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                                <form class="m-0" method="POST" action="/login">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label>Username</label>
                                            <input required class="form-control mb-1" type="text" name="username" placeholder="Email or Username" />
                                        </div>
                                        <div class="form-group">
                                            <label>Password</label>
                                            <input required class="form-control" type="password" name="password" placeholder="Password" />
                                        </div>
                                        {% if login_failed %}
                                            <small class="text-danger">
                                                Your username and password combination was incorrect.
                                            </small>
                                        {% endif %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary w-100">
                                            Login
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                <form class="m-0" method="POST" action="register">
                                    <div class="modal-body">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label class="form-label" for="username">
                                                Username
                                            </label>
                                            <input name="username" required type="text" class="form-control" id="register-username" placeholder="E.g. slacker69" />
                                            <small id="register-username-taken" class="text-danger hide">
                                                This username is taken.
                                            </small>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="email">
                                                Email Address
                                            </label>
                                            <input required name="email" type="email" class="form-control" id="register-email" placeholder="slack@liner.com" />
                                            <small id="register-email-taken" class="text-danger hide">
                                                This email already has an account on this website.
                                            </small>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="password">
                                                Password
                                            </label>
                                            <input required type="password" name="password" class="form-control mb-1" id="register-password" placeholder="Password" />
                                            <input required type="password" class="form-control" id="register-password-verify" placeholder="Password (Again)" />
                                            <small id="register-password-different" class="text-danger hide">
                                                Your passwords do not match.
                                            </small>
                                        </div>
                                        <div class="form-group form-check">
                                            <input required type="checkbox" class="form-check-input" id="pptosc">
                                            <label class="form-check-label" for="pptosc">
                                                I agree to the <a href="#">privacy policy</a> and <a href="#">terms of use</a>.
                                            </label>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button disabled type="submit" id="register-submit" class="btn btn-primary w-100">
                                            Register
                                        </button>
                                    </div>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Cookie Dialog-->
        <div class="modal" id="cookie-modal" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable mx-auto">
                <div class="modal-content">
                    <div class="modal-header">
                        Welcome to Chongo.co!
                    </div>
                    <div class="modal-body">
                        <p>
                            Chongo.co is a repository of slackline locations
                            around the globe. We don't track you or show you
                            adverts, but we do use cookies to improve your 
                            experience. Here's a list of the reasons we use 
                            cookies.
                        </p>
                        <ul class="list-group">
                            <li class="list-group-item">
                                Storing your viewport (what you're looking at) 
                                for next time.
                            </li>
                            <li class="list-group-item">
                                Storing whether or not you've accepted this 
                                message.
                            </li>
                            <li class="list-group-item">
                                Preventing CSRF attacks.
                            </li>
                            <li class="list-group-item">
                                Storing your session (keeping you logged in).
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" id="cookie-accept">Accept Cookies</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Map -->
        <div id="map" class="d-flex flex-row flex-grow-1"></div>   
        
        <!-- CookieJS -->
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
        <!-- Bootstrap Scripts -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <!-- Apple Maps Scripts -->
        <script src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.js"></script>
        <script src="{% static "map/map.js"%}"></script>
        <!-- Slackline Scripts -->
        <script src="{% static "map/page.js"%}"></script>
        <script src="{% static "map/user.js"%}"></script>
        <script src="{% static "map/info.js"%}"></script>
        <script src="{% static "map/slackline.js"%}"></script>

        <script>
        {% if login_failed %}
            $('#account-modal').modal()
        {% endif %}
        </script>
    
    </body>
</html>
