body {
    padding: 0px;
    margin: 0px;
}
#map {
    width: 100%;
    height: 100%;
}

.hide {
    display: none;
}

.anchor {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border-color: black;
    border-style: solid;
    background-color: white;
    transform: translateY(8px);
}

.midpoint {
    background-color: white;
    border-color: black;
    padding: 0.1em;
    border-radius: 0.5em;
    border-style: solid;
    height: 32px;
    width: auto;
    min-width: 32px;
    /* line-height: 32px; */
    text-align: center;
    transform: translateY(16px);
}

.cluster-annotation {
    background-color: white;
    border-color: black;
    padding: 1em;
    border-radius: 16px;
    border-style: solid;
    height: 32px;
    width: auto;
    min-width: 32px;
    text-align: center;
    line-height: 0px;
    /* transform: translateY(16px); */
}

.slackline-marker {
    padding: 0.2em;
    border-radius: 3pt;
    min-width: 20px;
    line-height: 20px;
    text-align: center;
    font-size: small;
    transform: translateY(10px);
    font-weight: bold;
}

.longline {
    color: white;
    background-color: #c45ab3;
}

.slackline {
    color: white;
    background-color: #a8c686;
}

.waterline {
    color: white;
    background-color: #3c91e6;
}

.highline {
    color: white;
    background-color: #e4572e;
}

.callout {
    color: black;
    background-color: #ffffffd0;
    font-size: 16px;
    max-width: 400px;
}

.modal-slack {
    max-width: 400px;
    height: auto;
    right: 0;
    left: auto;
}

.modal-dialog {
    margin: 1em;
}

.icon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: inherit;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

.icon.icon-18 {
    font-size: 18pt;
}

#edit-set-anchors {
    text-align: center;
}

.anchor-waiting {
    color: grey;
}